<div class="row">
    <h1>Donald Trump is MY President.  I AM a Proud American</h1>
    <img src="assets/img/american-pride/maura-t-creek.jpg" class="small-4 columns">
    <div class="columns small-8">
        <h2>Axiom</h2>
        <ul>
            <li>You were born in America</li>
            <li>You like who you are</li>
        </ul>
        <p>Words are important, so lets clarify two things. 1) Donald Trump will be your President. 2) Your Pride is not determined by who is elected President</p>
    </div>
</div>
<hr>
<div class="row">
    <h4>My name is Conor, and I am a proud American.</h4>
    <div class="columns small-12">
        <p>I don't agree with <em>my</em> President-elect on most everything he has actually taken the time to think about. I <em>do</em> agree with almost everything <a href="http://kidpresident.com/" title="Kid President">Kid President</a> has to say. I am proud to feel this way</p>
        <h3 class="text-center"><a data-open="kidPresModal">Kid President Pep Talk</a></h3>
        <div class="reveal large" id="kidPresModal" data-reveal>
            <div class="flex-video">
                <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/l-gQLqv9f4o?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="columns small-4">
    </div>
    <p>Here are some things I am not proud of. I haven't gone for a bike ride in a really long time. I brought my skis to Cleveland, OH isntead of selling them, and they haven't even made it out of the travel bag (it's been over 3 years).</p>
    <p>Stop confusing yourself. Stop saying Donald Trump isn't your President. That's not defiance; It's just stupid. He <em>is</em> your President. What is Pride, if not the feeling of </p>
    <h3>Here are a few things you can do:</h3>
    <div class="small-8 columns">
        <ul>
            <li>Stop having receipts printed when given the choice (<a href="http://www.huffingtonpost.com/will-hines/going-paperless-the-hidde_b_3008587.html" title="">Why?</a>)</li>
            <li>Carpool</li>
            <li><a href="https://www.ted.com/talks/amy_cuddy_your_body_language_shapes_who_you_are?utm_source=tedcomshare&utm_medium=referral&utm_campaign=tedspread" title="">Power Pose</a> 3 times a day</li>
            <li>Give someone a compliment who you think doesn't need it</li>
            <li>Give someone a compliment who you think does need it, and act like you're not doing them some big favor for noticing</li>
            <li>Find a company to boycott, especially if it seems difficult (For me... Nabisco)</li>
            <li>Find a company to support. Ignore prices and convieneince. Focus on culture and beliefs</li>
            <li>Know who your local government officials are. Memorize their contact information</li>
        </ul>
    </div>
    <img src="assets/img/american-pride/usain-pose.jpg" class="small-4 columns">
</div>
