<div class="">
    <img src="assets/img/main-header.jpg" alt="Kenney Professional Web">
</div>
<div class="row">
    <div class="large-12 columns">
        <h1>Kenney Professional Web</h1>
    </div>
    <div class="large-12 columns">
        <h1>Giddy Up!</h1>
    </div>
    <div class="large-12 small-6 columns">
        <h1>Another Div</h1>
    </div>
    <div class="large-12 small-6 columns">
        <h1>What do you think will happen?</h1>
    </div>
</div>
