{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>
    <!-- Start Top Bar -->
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Kenney Professional Web</li>
                <!-- <li>
                    <a href="#">One</a>
                    <ul class="menu vertical">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li> -->
            </ul>
        </div>
        <!--         <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <input type="search" placeholder="Search">
                </li>
                <li>
                    <button type="button" class="button">Search</button>
                </li>
            </ul>
        </div>-->
    </div>
    <!-- End Top Bar -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
    <hr>
    <footer>
        <div class="columns medium-8 copyright">
            <p>Copyright &copyConor Kenney 2016</p>
        </div>
        <div class="columns large-3 contact">
            <ul class="no-bullet">
                <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+13144825336" title="Call Me"> 314-482-5336</a></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:conor@kenney.pw?subject=Website&nbsp;Feedback" "email me">email me</a></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/conortkenney" target="_blank" title="conortkenney on Twitter">@conortkenney</a></li>
            </ul>
            <br>
        </div>
    </footer>
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
